@import "tailwindcss";

/* animation for mouse tracking blob */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}


.menu{
    @apply relative flex flex-row space-x-4 items-center justify-center
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 100%;
  padding: 2px;
  transform: rotate(0);
  transition: all 0.5s;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(1px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(-7px) translate(6px);
}